.parser {
  display: block;
  padding: 40px;
  font-size: 14px;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 22px;
}

.parser__posts {
  display: inline-block;
  padding: 40px;
}

.parser__title {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.parser__date {
  font-weight: bold;
  padding: 10px;
}

.parser__link {
  padding: 10px;
}
