.parser {
  display: block;
  padding: 40px;
  font-size: 14px;
  width: 1000px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 22px;
}

.parser__posts {
  padding: 60px;
}

.parser__title {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.parser__date {
  font-weight: bold;
  padding: 10px;
}

.parser__link {
  padding: 10px;
}

.parser__content img {
  height: 50%;
  max-height: 500px;
  max-width: 500px;
}
